<!-- links to css file -->
<!-- <link rel="stylesheet" href="/assets/style.css"> -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <a class="navbar-brand" href="#">Chat App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <%= nickname %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Connected</a>
          <a class="dropdown-item" href="#">Room: <%= room %></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div style="display: grid; grid-template-columns: 25% 75%">
  <aside class="bg-success m-2">

  </aside>

  <main>
    <!-- list -->
    <div id="" class="bg-light" style="overflow:scroll; height:80vh; margin-top:75px;">
      <ul id="messages" class="list-group"></ul>
    </div>

    <!-- //form -->
    <form action="">
      <div class="input-group my-3">
        <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Enter a message"
          aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
        </div>
      </div>
    </form>
  </main>

</div>

<!-- scripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();
    var nickname = sessionStorage.getItem("nickname");
    $("form").submit(function (e) {
      e.preventDefault();
      socket.emit("chat message", { msg: $("#m").val(), nickname });
      $("#m").val("");
      return false;
    });
    socket.on("chat message", function (msg) {
      const el = `
        <div class="d-flex w-100 justify-content-between">
          <p class="text-danger">${msg.nickname} : <span class="text-secondary">${msg.msg}</span></p>
          <small>3 days ago</small>
         </div>
        `
      $("#messages").append($("<li>").addClass("list-group-item list-group-item-primary m-3 my-2").html(el));
      document.getElementById("messages").lastElementChild.scrollIntoView();
    });
    socket.on('connect', function () {
      socket.emit("join", nickname);
      socket.on('join', function (data) {
        $("#messages").append($("<li>").addClass("list-group-item list-group-item-danger").text(data));
      })
    });
  });
</script>