* {
    margin: 0;
    padding: 0;
  }
  body {
    height:100vh;
  }
  .wrap {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px auto 60px;
    height:100vh;
  }
  header{
    grid-column: span 2;
  }

  footer{
    grid-column: span 2;
  }